  <div class="card shadow m-3 p-3 rounded d-flex justify-content-between">
  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= @restaurant.phone_number%>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category%>
  </p>
  </div>

<% @restaurant.reviews.each do |review| %>
<div class="review border p-3 m-3">
  <li><%= review.content %></li>
  <li><%= review.rating %></li>
</div>
<% end %>
<br>
<h1>Create a new review for <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content%>
  <%= f.input :rating%>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to 'Back', restaurants_path %>
